/* Android - 1 */
.all{
position: relative;
width: 360px;
height: 640px;

background: #FF9F59;
}

/* Group 1 */
.g{
position: absolute;
width: 93px;
height: 107px;
left: 136px;
top: 267px;
}


/* logo */
.logo{
position: absolute;
width: 93px;
height: 107px;
left: calc(50% - 93px/2 + 2.5px);
top: calc(50% - 107px/2 + 0.5px);

border-radius: 3px;
}

/* Rectangle 4 */
.rec{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 2.8%;

border: 3px solid #FFFEFE;
box-sizing: border-box;
border-radius: 10px;
}

/* IN */
.in{
position: absolute;
left: 12.73%;
right: 10.67%;
top: 29.63%;
bottom: 8.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 111.92%;
/* or 81px */

color: #FFFEFE;
}


/* fret */
.fret{
position: absolute;
left: 11.34%;
right: 8.25%;
top: 0%;
bottom: 53.27%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #FFFEFE;
}

.container {
    padding: 4rem 1rem;
  }
  
  .container p {
    margin: 1.5rem 0;
  }
  
  .card {
    max-width: 60rem;
    box-shadow: -10px 10px 80px rgba(255, 255, 255, 0.1);
    border: 1px solid #333;
    border-radius: 8px;
    padding: 2rem;
    margin: 0 auto;
  }
  
  .inlineCode {
    color: #be00ff;
    font-size: 16px;
    white-space: pre-wrap;
  }
  
  .inlineCode::before,
  .inlineCode::after {
    content: '`';
  }
  
  .hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 1.5rem 0;
  }
  
  .bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }
  
  .bgText {
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 1px 1px 1px #3c5c5e;
  }
  